# Auto detect text files and perform LF normalization
* text=auto

# CAD / manufacturing files are binary
*.stl  binary
*.3mf  binary
*.step binary
*.stp  binary
*.f3d  binary
*.bbl  binary
*.pdf  binary
*.png  binary
*.jpg  binary
